body {
    margin: 0;
    padding-left: 10px;
    background-color: #8060C0;
    color: #F0F0A0
}
h1 {
    font-size: 36px;
    color: #FF5040
}
h2 {
    font-size: 33px;
    color: #FF7040;
}
h3 {
    font-size: 30px;
    color: #FF9040;
}
h4 {
    font-size: 27px;
    color: #FFB040;
}
h5 {
    font-size: 24px;
    color: #FFD040;
}
h6 {
    font-size: 21px;
    color: #FFF040;
}
a {
    color: #00B0F0;
}
a:hover {
    color: #00F080
}
.form-labels {
    font-size: 14px;
    color: #80F080;
}
#nome {
    background-color: #A0F0F0;
}
#email {
    background-color: #F0F0A0;
}
#mensagem {
    background-color: #F0A0F0;
}
.flex {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.item {
    width: 80px;
    height: 80px;
    background-color: #90D060;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}