.conteudo {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 80vh;
    position: absolute;
    top: 5vh;
    left: 0;
}

.info {
    width: 60%;
    margin-right: 50px;
    margin-top: 30px;
    color: #ffffff;
}

input {
    border: 1px solid #999999;
    border-radius: 20px;
    background: transparent;
    width: 70%;
    font-size: 18px;
    padding: 10px;
}

button {
    margin-left: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
    background-color: #20333b;
    color: #ffffff;
    width: 20%;
    font-size: 18px;
    padding: 10px;
}

.perfil {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
}

.profile-image {
    margin-right: 32px;
    width: 120px;
    height: 120px;
    border: 2px solid #e5e5e5;
    border-radius: 60px;
}

.perfil h3 {
    color: #999999;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999999;
    font-size: 12px;
    margin: 0;
}

.perfil p {
    color: #999999;
    font-size: 12px;
    margin-top: 20px;
}

.repositorio {
    font-size: 24px;
    color: #ffffff;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}